.home-container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #007bff;
    font-size: 36px;
  }
  
  p {
    font-size: 18px;
    color: #555;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .register-button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  